---
interface Props {
  padding?: string
}

const { padding = '60px 15px 15px' } = Astro.props as Props
---

<div class="container" style={`padding: ${padding};`}>
  <slot />
</div>

<style>
  .container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0px auto;
  }
</style>
