---
import Container from "./grid/container.astro"

interface Props {
  content?: string;
}

const { content } = Astro.props;
---

<section>
  <Container>
    <div class="column">
      <h1>É um voluntáro vindo ali?</h1>
      {content && <div set:html={content} />}
      <div class="contact">
        <h3>
          <span>Quer ser um voluntário?</span> Entre em contato!
        </h3>
        <p>E-mail: <a href="mailto:contato@upalorena.com.br">contato@upalorena.com.br</a></p>
        <p>Telefone: <a href="tel:+5512997777499">(12) 9 9777 7499</a></p>
      </div>
    </div>
  </Container>
  <img class="image" src="/images/dog-watching.jpg" />
</section>

<style>
  section {
    position: relative;
    background-color: var(--color-back-dark);
    overflow: hidden;
  }

  .row {
    display: flex;
    max-width: var(--max-width);
    margin: 0px auto;
    padding: 80px 15px;
    background-color: var(--color-back-dark);
  }

  .column {
    position: relative;
    max-width: 390px;
    margin-left: auto;
    z-index: 2;
  }

  .contact {
    padding: 20px 25px;
    margin: 30px 0px 40px;
    border-radius: var(--radius);
    background-color: var(--color-back);
    border-bottom: 2px solid rgb(214, 198, 203);

    & > h3 {
      font-size: 1.45rem;
      font-weight: 700;
      margin-bottom: 15px;

      & > span {
        display: block;
        font-size: 0.875rem;
        font-weight: 400;
      }
    }

    p {
      margin-bottom: 5px;
    }
  }

  .image {
    position: absolute;
    left: 14%;
    bottom: 0;
  }

  @media (max-width: 989px) {
    .image {
      left: -50px;
    }
  }

  @media (max-width: 768px) {
    .column {
      width: 100%;
      max-width: 100%;
      padding-bottom: 200px;
    }

    .image {
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>
